<h1>Merchants</h1>
<ul>
<% @merchants.each do |merchant| %>
<li><%=link_to merchant.name, "/merchants/#{merchant.id}"%> </li>
<br>
</ul>
<% end %>
<%= button_to 'New Merchant', '/merchants/new', method: :get %>
